.btn {
  color: @white;
  font-size: @big-font;
  text-transform: uppercase;
  font-weight: 700;
  background-color: @blue;
  border: none;
  outline: none;

  &--small {
    font-size: @middle-font;
  }

  &--form {
  }
}
