.btn {
  color: #fff;
  font-size: @big-font;
  text-transform: uppercase;
  font-weight: 700;
  background-color: @bg-color-blue;
  border: none;
  outline: none;
}

.btn--small {
  font-size: @midle-font;
}

.btn--form {
  margin-left: 20px;
}
