.btn {
  display: block;
  color: @white;
  font-size: @big-font;
  text-transform: uppercase;
  font-weight: 700;
  background-color: @blue;
  border: none;
  outline: none;

  &--small {
    margin: 0 auto;
    padding: 20px 75px;
    font-size: @middle-font;
  }

  &--form {
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px 49px;
  }
}

@media @tablet-widths {
  .btn--form {
    margin: 0;
    padding: 15px;
    padding-left: 64px;
    padding-right: 76px;
  }
}

@media @desktop-widths {
  .btn--form {
    padding: 16px 149px;
  }
}
