.features {
  padding-top: 35px;
  text-align: center;
  background-color: @bg-color-blue;

  &--color {
    padding-top: 30px;
    padding-bottom: 25px;
    background-color: @bg-color-grey;
  }

  &--color .features__text {
    margin-bottom: 0;
  }

  &--font-color {
    color: #fff;
  }
}

.features-list__item {
  padding-left: 70px;
  padding-right: 40px;
}

.features-list__item:last-child {
  margin-bottom: 40px;
}
