.features-list {
  margin: 0;
  padding: 40px 0;
  color: @main-color;
  text-align: left;
  background-color: @white;
}

.features-list__item {
  margin: 0;
  padding: 0;
  padding-left: 70px;
  padding-right: 40px;
  list-style: none;
}

.features-list__title {
  margin: 0;
  margin-bottom: 19px;
}

.features-list__text {
  margin: 0;
  margin-bottom: 34px;

  &--last {
    margin-bottom: 0;
  }
}
