.field-icon {
  position: relative;
}

.field-icon__input {
  position: relative;
  width: auto;
  margin-top: 12px;
  margin-bottom: 10px;
  padding: 20px 22px;
  color: @black;
  font-size: @middle-font;
  font-weight: 700;
  text-transform: none;
  background-color: @popup-wrap-color;
  border: none;
  outline: none;
}

.field-icon__input::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 58px;
  height: 58px;
  background-color: red;
}

@media @tablet-widths {
  .field-icon:last-child {
    margin-bottom: 25px;
  }

  .field-icon__input {
    width: 100%;
    height: 56px;
    margin-bottom: 30px;
  }
}

@media @desktop-widths {
  .field-icon {
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-right: 80px;

    &:last-child {
      width: 480px;
      margin-right: 0;
    }
  }

  .field-icon__title {
    margin-right: 13px;
    padding-top: 28px;
  }

  .field-icon__title-disable {
    display: none;
  }

  .field-icon__input {
    width: 320px;

    &:last-child {
    }
  }
}
