.form ::-webkit-input-placeholder {
  color: #000;
  font-weight: 700;
  text-transform: none;
}
.form ::-moz-placeholder {
  color: #000;
  font-weight: 700;
  text-transform: none;
}
.form :-moz-placeholder {
  color: #000;
  font-weight: 700;
  text-transform: none;
}
.form :-ms-input-placeholder {
  color: #000;
  font-weight: 700;
  text-transform: none;
}
