.form-area {
  width: 100%;
  height: 160px;
  padding: 16px 20px;
  color: @black;
  font-size: @middle-font;
  font-weight: 700;
  text-transform: none;
  background-color: @popup-wrap-color;
  border: none;
  outline: none;
}

@media @tablet-widths {
  .form-area {
    padding: 16px 21px;
  }
}
