.form {
  padding-top: 18px;
  padding-bottom: 38px;
}

.form__item {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 19px;
  padding-bottom: 25px;
  border: none;
  border-top: 1px solid @grey-border;

  &:nth-child(3) {
    padding-top: 17px;
  }
}

.form ::-webkit-input-placeholder {
  color: @black;
  font-weight: 700;
  text-transform: none;
}
.form ::-moz-placeholder {
  color: @black;
  font-weight: 700;
  text-transform: none;
}
.form :-moz-placeholder {
  color: @black;
  font-weight: 700;
  text-transform: none;
}
.form :-ms-input-placeholder {
  color: @black;
  font-weight: 700;
  text-transform: none;
}

.form__title {
  margin-top: 0;

  &--name {
    margin-bottom: 21px;
  }

  &--contacts {
    margin-bottom: 20px;
  }

  &--radio {
    margin-bottom: 38px;
  }

  &--checkbox {
    margin-bottom: 30px;
  }

  &--area {
    margin-bottom: 16px;
  }
}

.form__text {
  display: none;
}

@media @tablet-widths {
  .form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 60px;
    padding-top: 60px;
    padding-bottom: 61px;
  }

  .form__item {
    padding: 0;
    border: none;

    &:nth-child(1) {
      order: -2;
      width: 281px;
      margin-bottom: 70px;
      padding-left: 14px;
    }

    &:nth-child(2) {
      order: -1;
      width: 100%;
    }

    &:nth-child(3) {
      position: relative;
      order: -3;
      width: 275px;
      padding-top: 0;

      &::after {
        position: absolute;
        top: 5px;
        right: -49px;
        content: "";
        display: block;
        width: 1px;
        height: 292px;
        background-color: @title-decoration;
      }
    }

    &:nth-child(4) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 auto;
      margin-bottom: 14px;
    }

    &:nth-child(5) {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  .form__title {
    margin: 0;
  }

  .form__text {
    display: block;
    padding-top: 5px;
  }
}

@media @desktop-widths {
  .form {
    padding: 0 120px;
    padding-top: 0;
    padding-bottom: 63px;
  }

  .form__item {
    &:nth-child(1) {
      width: 400px;
      padding-left: 0;
    }

    &:nth-child(2) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &:nth-child(3) {
      width: 432px;

      &::after {
        right: -49px;
      }
    }

    &:nth-child(4) {
      justify-content: space-between;
      width: 100%;
      margin-bottom: 12px;
    }

    &:nth-child(5) {
      margin-bottom: 50px;
    }
  }

  .form__title {

    &--custum::after,
    &--custum::before {
      width: 30%;
    }
  }
}
