.global-title {
  color: @black;
  font-size: @middle-font;
  font-weight: 700;
  text-align: center;

  &--color {
    color: @white;
  }

  &--left {
    text-align: left;
  }
}

@media @tablet-widths {
  .global-title {
    font-size: @big-font;
  }

  .global-title--left {
    text-align: center;
  }
}
