.hotels-search {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}

.hotels-search__title {
  margin: 0;
  margin-bottom: 25px;
}

.hotels-search__text {
  margin: 0;
  margin-bottom: 38px;
}

.hotels-search__btn {
  padding: 16px 47px;
}

@media @tablet-widths {
  .hotels-search {
    padding-top: 54px;
    padding-bottom: 58px;
  }

  .hotels-search__text {
    width: 435px;
    margin: 0 auto;
    margin-bottom: 45px;
  }

  .hotels-search__title {
    font-size: @large;
  }

  .hotels-search__btn {
    width: 458px;
    margin: 0 auto;
    padding: 16px 136px;
  }
}
