.hotels-search {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}

@media @tablet-widths {
  .hotels-search {
    padding: 55px 156px;
  }

  .hotels-search__title {
    font-size: @large;
  }
}
