.input-error {
  display: none;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 11px;
  color: @error;
  font-weight: 700;
  text-transform: none;

  &--show {
    display: block;
  }
}

@media @tablet-widths {
  .input-error {
    position: absolute;
    top: 0px;
    right: 0;
  }
}

@media @desktop-widths {
  .input-error {
    top: -26px;
    right: 103px;
  }
}
