.intro-block {
  padding-bottom: 45px;
  text-align: center;

  &--inner-page {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
}

.intro-block__poster {
  position: relative;
}

.intro-block__poster--text {

  &::after {
    position: absolute;
    top: 70px;
    left: 50%;
    content: "";
    display: block;
    width: 282px;
    height: 214px;
    margin-left: -141px;
    background: transparent url("../../img/text-sedona-index.svg") no-repeat;
    background-size: cover;
  }
}

.intro-block__poster--inner-page {
  width: 320px;
  height: 160px;
  margin-bottom: 40px;
  background: transparent url("../../img/bg-back-mobile@1x.jpg") no-repeat center;
  background-size: 100%;


  &::after {
    position: absolute;
    top: 70px;
    left: 50%;
    content: "";
    display: block;
    width: 229px;
    height: 39px;
    margin-left: -115px;
    background: transparent url("../../img/text-sedona.svg") no-repeat;
    background-size: cover;
  }
}

.intro-block__poster-image {
  display: block;
}
