.intro-block__poster--text {
  position: relative;
  &::after {
    position: absolute;
    top: 70px;
    left: 10px;
    content: "";
    display: block;
    width: 282px;
    height: 214px;
    background: transparent url("../../img/text-sedona-index.svg") no-repeat;
    background-size: cover;
  }
}
