.intro-block {
  padding-bottom: 45px;
  text-align: center;

  &--inner-page {
    padding-bottom: 20px;
    border-bottom: 1px solid @grey-border;
  }
}

.intro-block__poster {
  width: 320px;
  height: 300px;
  margin-bottom: 45px;
  padding-top: 90px;
  background: @transparent url("../../img/bg-back-mobile@1x.jpg") no-repeat 50% 50%;

  &--inner-page {
    width: 320px;
    height: 110px;
    margin-bottom: 40px;
    padding-top: 50px;
    background: transparent url("../../img/bg-back-mobile@1x.jpg") no-repeat 58% 118%;
    background-size: contain;
  }
}

.intro-block__title {
  width: 258px;
  margin: auto;
  margin-bottom: 35px;
}

.intro-block__text {
  width: 250px;
  margin: auto;
}

@media @tablet-widths {
  .intro-block__poster {
    width: 100%;
    padding-top: 77px;
  }
}
