.main-nav {
  display: block;
  text-align: center;
  background-color: @blue;
}

.main-nav__list,
.main-nav__item {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.main-nav__item {
  padding-top: 14px;
  padding-bottom: 15px;
  box-shadow:
  0 -1px 0 rgba(1, 1, 1, 0.2),
  inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:first-child {
    padding-top: 16px;
    padding-bottom: 14px;
  }

  &:last-child {
    padding-top: 14px;
    box-shadow: inset 0px -31px 13px -34px @black;
  }
}

.main-nav__item:hover {
  background-color: @blue-hover;
}

.main-nav__item:active {
  color: @blue-down-font;
  background-color: @blue-down;
}

.main-nav__item-link {
  color: @white;
  font-size: @middle-font;
  font-weight: 700;
}

.main-nav__item-link:hover {
  color: @hover;
}

.main-nav__item-link:active {
  color: @down;
  opacity: 0.3;
}

.main-nav__item-link--active:hover {
  color: @active-hover;
}

.main-nav__item-link--active:active {
  color: @active-down;
}

@media @tablet-widths {
  .main-nav {
    background-color: @white;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-nav__item {
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: none;

    &:nth-child(1) {
      padding: 14px 0;
      padding-left: 50px;
      padding-right: 38px;
    }

    &:nth-child(2) {
      margin-right: 159px;
      padding-left: 38px;
    }
  }

  .main-nav__item-link {
    color: @black;
    font-size: @main-font;
  }
}

@media @desktop-widths {
  .main-nav__item {

    &:first-child {
      padding-left: 90px;
    }

    &:nth-child(2) {
      margin-right: 246px;
    }

    &:last-child {
      padding-right: 70px;
      box-shadow: none;
    }
  }
}
