.map {
  min-width: 320px;
  min-height: 350px;
  background: @white url("../../img/bg-map-mobile@1x.jpg") no-repeat;
}

@media @tablet-widths {
  .map {
    width: 100%;
    background-size: cover;
  }
}
