.map {
  position: relative;
  width: 100%;
  min-height: 350px;
  background-size: cover;
}

.map__link {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
}

@media @tablet-widths {
  .map {
    width: 100%;
    min-height: 350px;
  }
}

@media @desktop-widths {
  .map {
    width: 1200px;
    min-height: 350px;
  }
}
