.page {
  width: 320px;
  margin: 0 auto;
  font-size: @main-font;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 26px;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
  outline: 1px solid red; /*временно*/
}

a {
  font-size: 14px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 26px;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}
