.page-footer {
  padding-top: 40px;
  padding-bottom: 32px;
  text-align: center;
}

.page-footer__text {
  margin-bottom: 36px;
  font-size: @big-font;
  font-weight: 700;
}

.page-footer__list {
  width: 100%;
}

.page-footer__copyright {
  display: block;
}

@media @tablet-widths {
  .page-footer {
    .clearfix();
    padding: 37px 60px;
  }

  .page-footer__text {
    float: left;
    margin-top: 10px;
    margin-right: 112px;
  }

  .page-footer__list {
    float: left;
  }

  .page-footer__copyright {
    float: right;
    width: 130px;
    margin-top: 10px;
  }
}
