.page-header {
  position: relative;
  margin-bottom: -55px;
  text-align: center;
  z-index: 1;
}

@media @tablet-widths {
  .page-header {
    width: 100%;
    margin-bottom: 0px;
  }

  .page-header__btn {
    display: none;
  }
}
