.page-header {
  position: relative;
  padding-bottom: 57px;
  text-align: center;
}

.page-header__btn {
  position: absolute;
  bottom: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  background: @white url("../../img/icon-menu.svg") no-repeat;
  border: none;
  outline: none;
}

@media @tablet-widths {
  .page-header {
    padding-bottom: 0;
  }

  .header-logo {
    top: 0;
  }

  .page-header__btn {
    display: none;
  }
}
