.page {
  .container();
  font-size: @main-font;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 26px;
  color: @main-color;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @white;
  outline: 1px solid red;
}

a {
  color: @main-color;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
