.presentation-video {
  width: 100%;
  background: @white url("../img/video-mobile@1x.jpg") no-repeat;
}

@media @tablet-widths {
  .presentation-video {
    min-width: 648px;
    height: auto;
    background-position: 37% 100%;
    background-size: 137% 100%;
  }
}

@media @desktop-widths {
  .presentation-video {
    min-width: 800px;
    min-height: auto;
    margin: 0 auto;
    background-size: contain;
  }
}
