.presentation {
  padding-top: 35px;
  padding-bottom: 40px;
}

.presentation__title {
  margin: 0;
  margin-bottom: 32px;
}

.presentation__text {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}

@media @tablet-widths {
  .presentation {
    padding: 65px 60px;
    padding-bottom: 36px;
  }

  .presentation__title {
    font-size: @large;
  }

  .presentation__text {
    margin-bottom: 77px;
  }
}

@media @desktop-widths {
  .presentation {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 80px;
  }

  .presentation__text {
    width: 420px;
    margin: 0 auto;
    margin-bottom: 75px;
  }
}
