.social-list,
.social-list__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list {
  .clearfix();
  margin-bottom: 40px;
  margin-left: 83px;
}

.social-list__item {
  float: left;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
}

@media @tablet-widths {
  .social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    margin-bottom: 0;
  }

  .social-list__item {
    float: none;
  }
}
